body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
  }

  #land{
    margin-bottom: 20px;
  }

  #landing{
    margin: 10px;
  }

  #missionsAdd{
    margin-top: 10px;
  }
  
  #crewmates {
    max-width: 500px;
    margin: 0;
    padding: 20px;
    background-color: #343434;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  }

  #horiz {
    display: flex;
  }

  #tasks {
    max-width: 500px;
    margin: 0;
    padding: 20px;
    background-color: #343434;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
    margin-left: 20px;
  }

  #add{
    margin:20px;
  }

  #remove{
    margin:20px;
  }

  .crewmate{
    margin:20px;
  }

  #crewmate{
    margin:20px;
  }
  
  h1 {
    text-align: left;
    color: #f6f6f6;
  }
  
  p {
    color: #f6f6f6;
    text-align: left;
  }
  
  #crewmateList {
    margin-bottom: 20px;
    color: #f6f6f6;
    text-align: left;
  }
  
  #crewmateName {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  #landing{
    color: #f6f6f6
  }
  
  button {
    display: block;
    margin: 0;
    padding: 10px 20px;
    background-color: (rgb(227, 238, 10), 245, 161);
    color: #131313;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  
  button:hover {
    background-color: #8f8d8d;
  }

.crewmate.assigned {
    background-color: #ccc; 
  }
  
  .task {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: default;
  }
  
  .task:empty {
    display: none;
  }
  
  